@charset "UTF-8";

:root {
    --destaque: #4D5E3B;
    --letraDestaque: #3a442f;
    --fundoPrincipal: #ebe6e4;
    --fundoDestaque: #dfd2c8;
    --fundoCard: #fff;
}

.botao {
    background-color: var(--destaque);
    color: white;
    border: none;
    border-radius: 5px;

    text-wrap: nowrap;
    cursor: pointer;

    padding: 10px 8px;
    transition: background .3s ease;
}

.inverso {
    background-color: transparent;
    border: 2px solid var(--destaque);
    color: var(--destaque);
    font-weight: bolder;
}

.titulo {
    color: var(--letraDestaque);
}

.texto {
    color: var(--destaque);
}

.botoes:hover {
    background-color: var(--letraDestaque);
}

/* ======================================== */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--fundoPrincipal);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--fundoCard);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cabeca {
    width: 100%;
    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav a {
    color: var(--letraDestaque);
    font-size: 1.3em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.fundo {
    width: 100%;
    background-color: var(--fundoDestaque);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textoFundo {
    width: 70%;
    font-size: 1.5em;

    padding: 60px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.textoFundo .texto {
    max-width: 350px;
}

.back {
    width: 30%;
    height: 400px;

    background-image: url(../imagens/backgroundPNG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ==== Sobre ==== */
.sobre {
    padding: 60px 0px;

    display: flex;
    justify-content: center;
    gap: 60px;

}

.perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--destaque);
}

.textoSobre {
    width: 450px;
    min-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}


/* === Serviços === */
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;

    gap: 20px;
}

.servicos .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    padding: 20px;
}

.servicos .card {
    width: 180px;
    min-height: 180px;
    background-color: var(--fundoCard);
    border-radius: 5px;
    font-size: .8em;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.servicos .card .titulo {
    font-size: 1.3em;
}

.servicos .card i {
    color: var(--destaque);
    font-size: 2em;

}

/* === Duvida === */
.duvida {
    width: 100%;
    background-color: var(--destaque);
    color: #fff;

    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.duvida h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    font-size: 1.3em;
}

.duvida ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* === Como funciona === */
.comoFunciona {
    padding: 60px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}




